.content {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.information {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.button {
   background-color: var(--primary-color);
   margin-top: 10px;
}

.image {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   height: 350px;

   & img {
      width: 100%;
      height: 100%;
      border: none;
      object-fit: cover;
      border-radius: var(--border-radius-md);
   }
}

@media (width < 768px) {
   .content {
      flex-direction: column-reverse;
      align-items: normal;
   }
}
