/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
   display: none;
}

.container {
   width: 100vw;
   height: calc(var(--vh, 1vh) * 100);
}

model-viewer {
   width: 100%;
   height: 100%;
}

.back-btn {
   position: absolute;
   top: 0;
   left: 0;
   margin: 20px;
}

model-viewer {
   background-color: #eee;
}

#ar-button {
   position: absolute;
   top: 0;
   right: 0;
   margin: 20px;
   color: #4285f4;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;

   & img {
      width: 20px;
   }
}

@keyframes elongate {
   from {
      transform: translateX(100px);
   }

   to {
      transform: translateX(-100px);
   }
}

#ar-prompt {
   display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
   display: block;
}

model-viewer > #ar-failure {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 175px;
   display: none;
}

model-viewer[ar-tracking="not-tracking"] > #ar-failure {
   display: block;
}

#controls {
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   margin: 20px;
}

.dot {
   display: none;
}

.glass {
   background: rgba(255, 255, 255, 0.57);
   backdrop-filter: blur(8px) contrast(0.89) saturate(1.27);
   -webkit-backdrop-filter: blur(8px) contrast(0.89) saturate(1.27);
   padding: 0.5rem;
   border-radius: 0.5rem;
}

.dim {
   background: rgba(255, 255, 255, 0.57);
   border-radius: 4px;
   border: none;
   box-sizing: border-box;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
   color: rgba(0, 0, 0, 0.8);
   display: block;
   font-weight: 700;
   max-width: 128px;
   overflow-wrap: break-word;
   padding: 0.5em 1em;
   position: absolute;
   width: max-content;
   height: max-content;
   transform: translate3d(-50%, -50%, 0);
   pointer-events: none;
   --min-hotspot-opacity: 0;
   margin: 10px;
}

.dimensionLineContainer {
   pointer-events: none;
   display: block;
}

.dimensionLine {
   stroke: #40c3ff;
   stroke-width: 2;
   stroke-dasharray: 2;
}

.hide {
   display: none;
}

@media (max-width: 600px) {
   .dim {
      font-size: 3vw;
   }
}

/* Prevent address bar show/hide jumps */
@media (max-height: 600px) {
   .container {
      height: -webkit-fill-available;
   }
}

/* iOS specific fixes */
@supports (-webkit-touch-callout: none) {
   .container {
      height: -webkit-fill-available;
   }
}
