.content {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.text {
   flex: 1;
   display: flex;
   flex-direction: column;
   max-width: 600px;
   gap: 1rem;

   & .button {
      background-color: var(--primary-color);
      margin-top: 10px;
      align-self: flex-start;
   }
}

.video {
   flex: 1;
   margin-top: 30px;
   width: 100%;
   max-width: 600px;
   align-self: center;

   & iframe {
      width: 100%;
      min-height: 350px;
      border: none;
      border-radius: var(--border-radius-md);
   }
}

@media (width < 868px) {
   .content {
      flex-direction: column-reverse;
      text-align: justify;
   }
}

@media (width < 468px) {
   .video {
      & iframe {
         min-height: 250px;
      }
   }
}
